.footer-form-div__text, .footer-soc__subtitle {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-bottom: 20px;
}

.customer__title, .workers-section__title, .work__title {
  color: #212121;
  font-size: 36px;
  text-align: center;
  letter-spacing: 1.08px;
}

body {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer-form-div__btn, .modal__btn, .hero__btn {
  color: #ffffff;
  background: #2196f3;
  font-weight: 700;
  letter-spacing: 0.96px;
  border-radius: 4px;
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn {
  line-height: 1.87;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
}
.hero__btn:hover, .hero__btn:focus {
  cursor: pointer;
  opacity: 0.7;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px 10px 32px;
  }
}

.modal__btn {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  line-height: 30px;
  padding: 10px 52px 10px 52px;
  border: none;
  display: block;
  margin: 0 auto;
}
.modal__btn:hover, .modal__btn:focus {
  cursor: pointer;
  opacity: 0.7;
}

.footer-form-div__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  line-height: 30px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  gap: 10px;
  padding-right: 28px;
}
.footer-form-div__btn:hover, .footer-form-div__btn:focus {
  cursor: pointer;
  opacity: 0.7;
}
.footer-form-div__btn::after {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url(../images/telegram_new.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  margin-right: 93px;
  color: #212121;
}

.footer__logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.logo__accent {
  color: #2196f3;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  position: absolute;
  border-radius: 2px;
  bottom: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current:hover:after {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  display: none;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 32px 0;
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
  cursor: pointer;
}

.contact-list {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.contact-list__link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .contact-list__item:first-child {
    margin-bottom: 10px;
  }
}
.contact-list__icon {
  display: inline-block;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__link:hover .contact-list__icon, .contact-list__link:focus .contact-list__icon {
  fill: #2196f3;
}

.hero {
  color: #ffffff;
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/peaple_img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/peaple_img.jpg);
  text-align: center;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2.64px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  display: block;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    gap: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.advantages__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 30px * (4 - 1)) / 4);
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
  }
}

.advantages__item::before {
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

.advantages__item:nth-child(1)::before {
  background-image: url(../images/advantages-svg-1.svg);
}

.advantages__item:nth-child(2)::before {
  background-image: url(../images/advantages-svg-2.svg);
}

.advantages__item:nth-child(3)::before {
  background-image: url(../images/advantages-svg-3.svg);
}

.advantages__item:nth-child(4)::before {
  background-image: url(../images/advantages-svg-4.svg);
}

.advantages__subtitle {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
}

.advantages__title {
  color: #212121;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
  }
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
    display: block;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.work__title {
  margin-bottom: 50px;
}

.work__item {
  position: relative;
}

.work__text {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  text-align: center;
  width: 370px;
  padding: 27px 0;
  bottom: 0px;
}

.workers {
  background: #F5F4FA;
  padding: 60px 0;
}

.workers-section__title {
  margin-bottom: 30px;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .workers-section__title {
    font-size: 36px;
  }
}

.workers__subtitle {
  color: #757575;
  text-align: center;
  letter-spacing: 0.48px;
  font-size: 16px;
  padding-bottom: 16px;
}

.workers__title {
  color: #212121;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.div__workers {
  padding-top: 30px;
  padding-bottom: 24px;
}

.workers__item {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .workers__item {
    -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .workers__item {
    -ms-flex-preferred-size: calc((100% - 30px * (4 - 1)) / 4);
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
  }
}

.workers-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.workers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .workers-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.workers__link {
  border-radius: 50%;
  background-color: transparent;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  gap: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.workers__link:hover, .workers__link:focus {
  background-color: #2196f3;
  cursor: pointer;
}

.icon__link {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.workers__link:focus .icon__link, .workers__link:hover .icon__link {
  fill: #ffffff;
}

.customer {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customer {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customer__title {
  line-height: normal;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customer__title {
    margin-bottom: 50px;
  }
}

.customer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.customer__item {
  -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
      flex-basis: calc((100% - 30px * (2 - 1)) / 2);
}
@media screen and (min-width: 768px) {
  .customer__item {
    -ms-flex-preferred-size: calc((100% - 30px * (3 - 1)) / 3);
        flex-basis: calc((100% - 30px * (3 - 1)) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customer__item {
    -ms-flex-preferred-size: calc((100% - 30px * (6 - 1)) / 6);
        flex-basis: calc((100% - 30px * (6 - 1)) / 6);
  }
}

.customer__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-size: 0px;
}
.customer__link:hover .customer__icon, .customer__link:focus .customer__icon {
  cursor: pointer;
  fill: #2196f3;
}

.customer__link {
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 100%;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__link:hover, .customer__link:focus {
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
  }
}

.footer-contacts__address {
  color: #ffffff;
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__address:hover {
  color: #2196f3;
  cursor: pointer;
}

.footer-contacts__address {
  font-style: normal;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__address {
    text-align: left;
  }
}

.footer-contacts__link {
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.42px;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
  cursor: pointer;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer__link {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
  cursor: pointer;
}

.footer-soc__subtitle {
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.footer-soc__link {
  fill: #ffffff;
}

.footer-soc__link {
  border-radius: 50%;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: #2196f3;
  cursor: pointer;
}

.footer-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-soc {
  padding-top: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    text-align: left;
  }
}

.footer-form-div__form {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer-form-div__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-form-div__text {
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.footer-form-div--input {
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px;
  letter-spacing: 0.48px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
  width: 450px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}
.footer-form-div--input:hover, .footer-form-div--input:focus {
  border-color: #2196f3;
  outline: none;
}
@media screen and (min-width: 1200px) {
  .footer-form-div--input {
    width: 358px;
  }
}

.footer-form-div {
  padding-top: 10px;
}

.modal__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #757575;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}

.modal__label:not(:first-child) {
  margin-top: 10px;
}

.modal__textarea {
  color: rgba(117, 117, 117, 0.5);
  line-height: normal;
  letter-spacing: 0.12px;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 12px;
  padding-left: 16px;
  width: 448px;
  resize: none;
  margin-top: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:hover, .modal__textarea:focus {
  border-color: #2196f3;
}

.modal__input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  margin-top: 4px;
  padding: 11px 0 11px 42px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.btn-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  position: absolute;
  right: 8px;
  top: 8px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover, .btn-close:focus {
  cursor: pointer;
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__checkbox {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 8px;
}

.modal__custom-checkbox {
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #212121;
}

.modal__custom-checkbox:hover {
  border-color: #2196f3;
}

.modal__checkbox-input:focus + .modal__custom-checkbox {
  border-color: #2196f3;
}

.modal__checkbox-input:checked + .modal__custom-checkbox {
  background-color: #2196f3;
  background-image: url(../images/checked_svg.svg);
  background-repeat: no-repeat;
}

.modal__link {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.filter__btn {
  color: #212121;
  min-width: 73px;
  padding: 6px 22px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  background-color: #F5F4FA;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .filter__list {
    max-width: 340px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .filter__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.projects {
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .projects {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.project__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}

.projects__list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .projects__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .projects__list {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.project__link {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:focus, .project__link:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .projects__item {
    -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    -ms-flex-preferred-size: calc((100% - 30px * (3 - 1)) / 3);
        flex-basis: calc((100% - 30px * (3 - 1)) / 3);
  }
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2196f3;
  -webkit-transform: translateY(101%);
      -ms-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover .project__overlay {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.project__overlay-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 63px 24px;
}

.project__subtitle {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.project__wrapper-img {
  overflow: hidden;
  position: relative;
}

.project__wrapper-info {
  padding: 20px 24px;
  border: 1px solid #eee;
}/*# sourceMappingURL=main.css.map */