.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-list {
    display: flex;
    gap: 30px;
}

.advantages-item-title {
    color: var(--main-color);
    font-size: 14px;
    letter-spacing: 0.42px;
    flex-basis: calc((100% - 3 * 30px) / 4);
}

.advantages-item-title::before {
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--add-white);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 30px;
}

.advantages-item-title:nth-child(1)::before {
    background-image: url(../images/group_svg1_svg.svg);
}

.advantages-item-title:nth-child(2)::before {
    background-image: url(../images/clock_svg2_svg.svg);
}

.advantages-item-title:nth-child(3)::before {
    background-image: url(../images/diagram_svg3_svg.svg);
}

.advantages-item-title:nth-child(4)::before {
    background-image: url(../images/astronaut_svg4_svg.svg);
}

.advantages-subtitle {
    color: var(--add-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.advantages-title {
    color: var(--main-color);
    font-size: 14px;
    padding-bottom: 10px;
}