.hero {
  color: $add-white;
  background-color: $main-bd-color;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/peaple_img_mob.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/peaple_img_mob@2x.jpg");
  }
  text-align: center;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/peaple_img_tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/peaple_img_tab@2x.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/peaple_img.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/peaple_img@2x.jpg");
    }
  }
}

.hero__title {
  color: $add-white;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2.64px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
