.header__logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  margin-right: 93px;
  color: $main-color;
}
.footer__logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  color: $add-white;
  margin-bottom: 20px;
}
.logo__accent {
  color: $accent-color;
}
