.header__logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  margin-right: 93px;
  color: $main-color;
}
.footer__logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  color: $add-white;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width:1200px) {
    text-align: left;
  }
}
.logo__accent {
  color: $accent-color;
}
