.filter__btn {
  color: $main-color;
  min-width: 73px;
  padding: 6px 22px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  background-color: $bg-color;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $add-white;
    background-color: $accent-color;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
.filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
  @media screen and (max-width:767px) {
      max-width: 340px;
      margin-bottom: 30px;
    }
  @media screen and (min-width:768px) {
    justify-content: center;
  }
    @media screen and (min-width:1200px) {
      justify-content: center;
      margin-bottom: 50px;
    }
}

.projects {
  padding-top: 40px;
    padding-bottom: 60px;
    @media screen and (min-width:768px){
      padding-top: 60px;
        padding-bottom: 60px;
    }
        @media screen and (min-width:1200px) {
           padding-top: 94px;
           padding-bottom: 50px;
        }
}

.project__title {
  color: $main-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}

.projects__list {
  gap: 30px;
  display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
        flex-wrap: wrap;
    }
         @media screen and (min-width: 1200px) {
            margin-top: 50px;
              display: flex;
              flex-wrap: wrap;
         }
}

.project__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}

.projects__item {
  position: relative;
  @media screen and (min-width:768px) {
    @include flex-basis(30px, 2);
  }
     @media screen and (min-width: 1200px) {
          @include flex-basis(30px, 3);
     }
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $accent-color;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .projects__item:hover & {
      transform: translateY(0);
    }
}

.project__overlay-text {
  color: $add-white;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 63px 24px;
}

.project__subtitle {
  color: $add-color;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.project__wrapper-img {  
  overflow: hidden;
  position: relative;
}
.project__wrapper-info {
  padding: 20px 24px;
    border: 1px solid #eee;
    
}
