%footer-title {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.42px;
    margin-bottom: 20px;
}

%title {
    color: $main-color;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1.08px;
}